<!DOCTYPE html>
<html>
  <head>
    <title>식단조회</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1><%= title%></h1>
    <h3><%= alarm%></h3>
    <h2><%= date%></h2>
    <h3>학생식당</h3>
    <p><%= student_meal_breakfast%></p>
    <p><%= student_meal_lunch%></p>
    <p><%= student_meal_dinner%></p>
    <p><%= student_meal_special%></p>
    <h3>교직원식당</h3>
    <p><%= professor_meal_breakfast%></p>
    <p><%= professor_meal_lunch%></p>
    <p><%= professor_meal_dinner%></p>
  </body>
</html>
